{% extends 'subLayout.html.twig' %}

{% block title %}Daftar Semua DRM{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>Daftar DRM</center>
                        </h2>
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Kode RM</th>
                                    <th>Tanggal KRS</th>
                                    <th>Ruangan</th>
                                    <th>DPJP</th>
                                    <th>Penjamin</th>
                                    <th>Kelengkapan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if data|length > 0 %}
                            {% set i = 1 %}
                                {% for dat in data %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{% if dat.pasien is not null %}{{ dat.pasien.kodeRm }}{% endif %}</td>
                                        <td>{% if dat.tglKrs is not null %}{{ dat.tglKrs|date('d m Y') }}{% endif %}</td>
                                        <td>{% if dat.ruangan is not null %}{{ dat.ruangan.namaRuangan }}{% endif %}</td>
                                        <td>{% if dat.dokter is not null %}{{ dat.dokter.namaDokter }}{% endif %}</td>
                                        <td>{% if dat.penjamin is not null %}{{ dat.penjamin.namaPenjamin }}{% endif %}</td>
                                        {% if dat.jenisBerkas == 1 %}
                                            <td><span class="label label-success">Lengkap</span></td>
                                        {% elseif dat.jenisBerkas == 2 %}
                                            <td><span class="label label-success">Tidak Lengkap</span></td>
                                        {% else %}
                                            <td><span class="label label-success">Peminjaman</span></td>
                                        {% endif %}
                                        <td>
                                            <a href="{{ path('app_admin_update_drm',{id: dat.id}) }}" class="btn btn-primary btn-xs">UPDATE</a>
                                        </td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            {% else %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('.dataTable').dataTable({

        });
    </script>
{% endblock %}